.carousel.slide {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 60px;
    
}

.carousel-inner {
    border-radius: 24px;
    border: solid 1px var(--clr-primary);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.carousel-indicators .active {
    background-color: var(--clr-primary);
}

.carousel-inner:hover {
    transform: scale(1.01);
}

.carousel img {
    object-fit: contain;
    height: 100%;
    opacity: 0.7;
}

.carousel-caption {
    top: 14rem; 
    max-width: 500px; 
    right: unset !important;
    left: 50% !important;
    transform: translateX(-50%);
    user-select: none;
    text-align: center;
    background-color: transparent;
}

.carousel-caption h3 {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)
}

.carousel-caption p {
    font-size: 1.2em;
    color: var(--cap-clr);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    
}

.carousel-caption p.techStack {
    font-size: 1em;
    font-weight: bold;
    color: var(--clr-primary);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px) {

    .carousel {
        display: none;
    }
}